@model BLL.Product
@using VirtusFitWeb.Controllers;

@{
    ViewData["Title"] = "DeletePlan";
}
<style>

    .btn-danger {
        padding: 0.375rem 10rem;
    }

    .btn-info {
        background-color: rgb(28, 92, 51);
        border-color: rgb(28, 92, 51);
        padding: 0.375rem 10rem;
    }

    .btn-info:hover {
        background-color: rgb(67, 132, 36);
        border-color: rgb(67, 132, 36);
    }
</style>
<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.ProductName?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fiber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fiber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sugar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sugar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortionQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortionQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortionUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortionUnit)
        </dd>
    </dl>

    <form asp-action="Delete" asp-controller="Product" method = "post">
        <div>
            <button type="submit" value="Delete" class=" btn btn-danger btn-large">Delete</button> 
            <button class="btn btn-info btn-large" asp-action="ProductList" asp-controller="Product">Back to List</button>
        </div>
    </form>
</div>
