@model PlanDetailsViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Day List for - Diet Plan &#8470; @Model.DietPlanId | @Model.PlanCaloriesPerDay Calories per day </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].DayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].CaloriesSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].FatSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].CarbohydratesSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyDietPlans[0].ProteinSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DailyDietPlans)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                @if (item.CaloriesSum + 100 < Model.PlanCaloriesPerDay || item.CaloriesSum - 100 > Model.PlanCaloriesPerDay)
                {
                    <td class="low-high-calories">
                        @Html.DisplayFor(modelItem => item.CaloriesSum)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CaloriesSum)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.FatSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbohydratesSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinSum)
                </td>
                <td>
                    <a class="btn btn-primary btn-block" asp-controller="DietPlan" asp-action="DailyProductList" asp-route-id=@item.DietPlanId asp-route-dayNumber="@item.DayNumber">Products</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-info" asp-action="Index" asp-controller="DietPlan">Back to Diet Plan list</a>
</div>

