@model IEnumerable<VirtusFitWeb.Models.DailyDietPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Day List for - Diet Plan &#8470; @ViewBag.DietPlanId </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaloriesSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbohydratesSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProteinSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaloriesSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbohydratesSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinSum)
                </td>
                <td>
                    @Html.ActionLink("Products", "DailyProductList", new { id = item.DietPlanId, dayNumber = item.DayNumber })
         
                </td>
            </tr>
        }
    </tbody>
</table>