@model IEnumerable<BLL.DietPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Diet Plans List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaloriesPerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var startDateToDisplay = item.StartDate.ToShortDateString();
            var endDateToDisplay = item.EndDate.ToShortDateString();
            string durationToDisplay;
            if (item.Duration.Days == 1)
            {
                durationToDisplay = item.Duration.Days.ToString() + " Day";
            }
            else
            {
                durationToDisplay = item.Duration.Days.ToString() + " Days";
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => startDateToDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => endDateToDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => durationToDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaloriesPerDay)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Day List", "DayList", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
