@model IEnumerable<BLL.DietPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Diet Plans List</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaloriesPerDay)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {

        var startDateToDisplay = item.StartDate.ToShortDateString();
        var endDateToDisplay = item.EndDate.ToShortDateString();
        string durationToDisplay;
        if (item.Duration.Days == 1)
        {
            durationToDisplay = item.Duration.Days.ToString() + " Day";
        }
        else
        {
            durationToDisplay = item.Duration.Days.ToString() + " Days";
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => startDateToDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => endDateToDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => durationToDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaloriesPerDay)
            </td>
            <td>
                <a class="btn btn-info btn-block" asp-controller="DietPlan" asp-action="DayList" asp-route-id=@item.Id>Details</a>
                <a class="btn btn-danger btn-block" asp-controller="DietPlan" asp-action="DeletePlan" asp-route-id=@item.Id>Delete</a>
                <a class="btn btn-primary btn-block" asp-controller="DietPlan" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
