@model IEnumerable<BLL.Product>
@using VirtusFitWeb.Controllers;

@{
    ViewData["Title"] = "FavoriteList";
}
<style>
    .btn-info {
        background-color: rgb(28, 92, 51);
        border-color: rgb(28, 92, 51);
    }

    .btn-info:hover {
        background-color: rgb(67, 132, 36);
        border-color: rgb(67, 132, 36);
    }
</style>
<h1>Favorites</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydrates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortionQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortionUnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Energy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Protein)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortionQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortionUnit)
                </td>
                <td>
                    <a class="btn btn-danger btn-block"asp-controller="Favorite" asp-action="DeleteFromFavorites" asp-route-id=@item.ProductId>Delete</a>
                    <a class="btn btn-block btn-info"asp-controller="Favorite" asp-action="FavoriteDetails" asp-route-id=@item.ProductId>Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>